<div class="row">
    <div class="col-md-9">
        <posts>
            @await Html.PartialAsync("_LoadingView")
        </posts>

        <pager>

        </pager>
    </div>

    <div class="col-md-3">

    </div>
</div>