
<div class="row">
    <div class="col-md-9">
        <posts>
            @await Html.PartialAsync("_LoadingView")
        </posts>
    </div>

    <div class="col-md-3">

    </div>
</div>

@section styles{
    <link rel="stylesheet" href="~/css/blog.css" />
}

@section scripts{
    <script>
        System.config({
            transpiler: 'typescript',
            typescriptOptions: { emitDecoratorMetadata: true },
        });
        System.import('/blogapp/blog.ts')
              .then(null, console.error.bind(console));
    </script>
}