
<div>
    <img src="~/images/22.jpg" />

    <my-app>
        <h2>loading...</h2>
    </my-app>

</div>

@section scripts{
    <script>
        System.config({
            transpiler: 'typescript',
            typescriptOptions: { emitDecoratorMetadata: true },
        });
        System.import('/app/app.ts')
              .then(null, console.error.bind(console));
    </script>
}